.products {
  font-size: 25px;
  margin: 50px auto;
  text-align: center;
  width: 500px;
  min-width: 320px;
}

th, .title, .price, .description {border: 1px solid grey;} 

.edit {
  color: green;
  cursor: pointer;
}

.delete {
  color: red;
  cursor: pointer;
}

.description {
  min-width: 300px;
}