.main-header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color:#444;
  h1 {
    margin: 0;
  }
}

.brand-logo {
  color: #fff;
  &:hover {
    color: #ddd;
    text-decoration: none;
  }
}